# Build
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Tests
[Ttx]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Secrets
appsettings.Production.json
*.pfx
*.p12

# OS files
.DS_Store
Thumbs.db